# OPEN WEATHER MAP API CREDENTIALS
OPEN_WEATHER_API_KEY=""
OPEN_WEATHER_API_URL="http://api.openweathermap.org/data/2.5/weather"

# TWILIO CREDENTIALS
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""